  <div class="pv4" style="background-color:orange;">
    <h3 class="f4 b lh-title mb1 white bg-primary pv4" style="text-align:center">{{.intro.heading}} <br /> {{.intro.subtitle}}</h3>
  </div>  
<div class="bg-off-white pv4">
  <div class="ph3 mw7 center">
    <p class="mb4 mw7 pv4">{{.intro.text}}</p>
     <div class="flex-ns mhn2-ns mb3">
      {{ range .products }}
      <div class="ph2-ns w-50-ns">
        <h4 class="f3 b lh-title mb3 tc">{{.heading}}</h4>
        <img src="{{.image}}" alt=".text" class="center db mb3" style="width: 240px">
        <p>{{.text}}</p>
      </div>
      {{ end }}
    </div>
 </div>
 </div>
