<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">



		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">Sri Lakshmi Chennakeshava High School, Midthur - 518405, Kurnool (District), Andhra Pradesh, INDIA</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Home</a></li>

					<li><a href="/post" class="link">Blog</a></li>
					<li><a href="/location" class="link">Contact</a></li>
				</ul>
			</div>



			<div>
				<h3 class="f4 b lh-title mb2 primary">Social media</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "https://www.facebook.com/Sri.Lakshmi.Chennakeshava.High.School" "svg" "icons-facebook") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-twitter") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-instagram") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-vimeo") }}
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>
