<footer class="bg-black ph3 pv0 white">

	<div class="mw7 center pt3">



		<div class="flex-ns justify-between">

			<div>
				<div class="pv0" style="background-color:green">
				<h3 class="f4 b lh-title mb1 primary" style="text-align:left; color:yellow;">Sri Lakshmi Chennakeshava High School, Midthur - 518405, Kurnool (District), Andhra Pradesh, INDIA</h3>
				</div>
					<ul class="mb3">
					<li><a href="/" class="link">Home</a></li>

					<li><a href="/post" class="link">Blog</a></li>
					<li><a href="/contact" class="link">Contact</a></li>
				</ul>
			</div>



			<div style="text-align:center;">
				<h3 class="f4 b lh-title mb2 primary">Social media</h3>
				<ul>
					{{ partial "social-icon" (dict "link" "https://facebook.com/sri.lakshmi.chennakeshava.high.school" "svg" "icons-facebook") }}
					<a href="fb://facewebmodal/f?href=https://www.facebook.com/sri.lakshmi.chennakeshava.high.school"> <img src="icons-facebook.svg"> </a>
					<a href="https://fb://facewebmodal/f?href=https://www.facebook.com/sri.lakshmi.chennakeshava.high.school"> <img src="icons-facebook.svg"> </a>
					<a href="https://wa.me/send?text=Sri%20Lakshmi%20Chennakeshava%20high%20school's%20website%20is%20https://slc-school.com"> <img src="icons-whatsapp.jpeg"> </a>

				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>
