{{ define "main" }}

<div class="ph3 bg-off-white">
	<div class="center mw6 pv3">
		<a class="link" href="https://api.whatsapp.com/send?phone=919963322119&text=Contact:%20Sri%20Lakshmi%20Chennakeshava%20high%20school">
		<img src="{{ .Params.logo }}" alt="" class="db w4 center pv4">
		</a>
		{{ .Content }}

		<div class="flex-ns mb3">
	        	{{ range .Params.contact_entries }}
				<div>
					<h4 class="f4 b lh-title mb2 primary">{{ .heading }}</h4>
					<p>{{ .text }}</p>
				</div>
			{{ end }}
		</div>


	</div>
</div>

{{ end }}
