{{ define "main" }}

<div class="ph3 bg-off-white">
	<div class="center mw6 pv3">
		<a class="link" href="whatsapp://send?phone=919963322119&text=Contact:%20Sri%20Lakshmi%20Chennakeshava%20high%20school">
		<img src="{{ .Params.logo }}" alt="" class="db w4 center pv4">
		</a>
		{{ .Content }}

		
<!-- Main Container -->
        <h4>Find us at:</h4>
		
<div class="container-fluid-kamn">
  <div class="row">
    <div>
      <iframe width="100%" height="450px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="{{ .Params.google_map }}"></iframe>
      <br />
    </div>
    </div>
      </div>


   
<!--End Main Container -->

		<div class="flex-ns mb3">
	        	{{ range .Params.contact_entries }}
				<div>
					<h4 class="f4 b lh-title mb2 primary">{{ .heading }}</h4>
					<p style="text-align:left">{{ .text }}</p>
				</div>
			{{ end }}
		</div>


	</div>
</div>

{{ end }}
